{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  form {
      max-width: 450px;
      margin: auto;
  }
</style>
<body>
  <div class="container">
  <h5 class="d-block p-3 bg-dark text-white">Change Password</h5>
  <br>
<form method="post">
    {% if messages %}
    {% for message in messages %}
  <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
      {{ message }}
  </div>
    {% endfor %}
{% endif %}
    {% csrf_token %}
    <div class="col-md-12 "> 
    {{ form | crispy }}
    <p>
      <input type="submit" class="btn btn-info" value="Save changes">
      
    </p>
  </form>
  
{% endblock %}