{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block header %}
<h5 class="d-block p-3 bg-dark text-white">Add Reclassify Journal</h5>

{% endblock %}

{% block style %}
<style type="text/css">
  form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  input {
    border: none;
  }

  .add-row {
    padding-left: 18px;
  }

  .delete-row {
    float: right;
    display: block;
    margin-left: 4px;
    padding-left: 18px;
  }

  .dynamic-event-form th {
    text-align: right;
    font-weight: bold;
  }

  .dynamic-event-form td span img {
    vertical-align: middle;
    border: 0;
  }
</style>
{% endblock %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% csrf_token %}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} m-2" id="msg" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
<!-- <form method="post" class="m-auto" >
    <div  class="table table-sm table-editable ">
    {% csrf_token %}

		{% for field in form %}
			{{field}}
            <br>
			{% endfor %}
        <input type="submit" name="Submit">
    </div> 
 </form> -->

<div class="entry">
  <!--ตาราง Header-->
  <form method="post" action="" class="m-auto">
    {% csrf_token %}
    <table id="id_contact_info_table">

      <div class="container">
        <div class="form-row">
          <!-- <div class="form-group col-md-3 mb-0">
              {{ form.journal_no|as_crispy_field }}
            </div> -->
          <div class="form-group col-md-6 mb-0">
            {{ form.company_code|as_crispy_field }}
          </div>
          <!-- <div class="form-group col-md-4 mb-0">
                {{ form.Parent_company_code|as_crispy_field }}
            </div> -->
          <div class="form-group col-md-6 mb-0">
            {{ form.period_code|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 mb-0">
            {{ form.journal_description|as_crispy_field }}
          </div>
        </div>
      </div>
    </table>
    <!--ตาราง-->
    {% csrf_token %}

    <div class="table table-sm table-editable">
      <span class="table-add float-right mb-3 mr-2 "></span>
      <table id="header" class="table table-bordered table-responsive-md  text-center ">
        <thead class="table-info">
          <tr>
            <th class="text-center">Account Code</th>
            <th class="text-center">Account Name</th>
            <th class="text-center">Debit</th>
            <th class="text-center">Credit</th>

          </tr>
        </thead>
        {% for a in formset %}
        <tbody>
          <tr class="border-0">
            <td>{{ a.account_code }} </td>
            <td>{{ a.account_name }} </td>
            <!-- <div id = "debit"> <td> {{ a.debit }} </td> </div> -->

            <td> <input type="number" class="debit" value="{{ a.debit }} </td> 
            <td> <input type="number" class="credit" value="{{ a.credit }} </td>
            

          </tr>
          {% endfor %}
        </tbody>
        <tfoot class="table-secondary">
          <tr>
            <th colspan="2">Total </th>
            <th id="sum_debit"></th>
            <th id="sum_credit"></th>
          </tr>
        </tfoot>
    </div>
    </table>
  </form>
  <p>

    {{ formset.management_form }}
  <div class="mt-4 text-center">
    <button class="btn btn-info">Submit</button>
    <a href="{% url 'ReclassSummary' %}" class="btn btn-secondary">Cancel</a>
  </div>
  </p>

  <script>
    const $debit = $('.debit');
    $debit.on("change blur input", function () {
      let sum_debit = 0;
      let count = 0;
      $debit.each(function () {
        m = Number(this.value);
        if (!isNaN(m)) {
          sum_debit += m;
        }
      });
      $("#sum_debit").text(sum_debit);
    });
  </script>

  <script>
    const $credit = $('.credit');
    $credit.on("change blur input", function () {
      let sum_credit = 0
      $credit.each(function () {
        m = Number(this.value);
        if (!isNaN(m)) {
          sum_credit += m;
        }
      });
      $("#sum_credit").text(sum_credit);
    });
  </script>

  {% endblock %}