{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block header %}
<h5 class="d-block p-3 bg-dark text-white">Reclassify journal</h5>
<br>
{% endblock %}

{% block style %}
<style>
  /* style ของ row */
  tbody>tr>:nth-child(2){text-align:left;}
  tbody>tr>:nth-child(3){text-align:right;}
  tbody>tr>:nth-child(4){text-align:right;}
  tfoot>tr>:nth-child(2){text-align:right;}
  tfoot>tr>:nth-child(3){text-align:right;}

</style>
{% endblock %}

{% block content %}
{% csrf_token %}
{% if messages %}
    {% for message in messages %}
  <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
      {{ message }}
  </div>
    {% endfor %}
{% endif %} 

  <!--ตาราง Header-->
  <head>
    <div class="card bg-white mb-3">
      <div class="card-body shadow ">
        <div class="col-auto">
        <div class="container">
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              <b>Period Code : </b>  {{ ReclassHeader.period_code }}
            </div>
            <div class="form-group col-md-6 mb-0">
              <b>Journal Number : </b>  {{ ReclassHeader.journal_no }}
            </div>
        </div>
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              <b>Company Code : </b>  {{ ReclassHeader.company_code }}
            </div>
            <div class="form-group col-md-6 mb-0">
              <b>Parent company Code : </b>  {{ ReclassHeader.Parent_company_code }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
              <b>Journal description : </b>  {{ ReclassHeader.journal_description}}
            </div>
        </div>
        </div>
      </div>
    </div>
  </head>
      {% csrf_token %}
      <div class="card-body  shadow py-2">
        <div class="card border-left-info shadow h-100 ">
        <div class="col-auto">

          
  <!--ตาราง-->
  <form method="post" action="" class="m-auto" >
  {% csrf_token %}
  <div class="table table-sm table-editable">
    <span class="table-add float-right mb-3 mr-2 "></span>
    <table id="header" class="table table-bordered table-responsive-md  text-center " >
      <thead class="table-info">
        <tr>
          <th class="text-center">Account Code</th>
          <th class="text-center">Account Name</th>
          <th class="text-center">Debit</th>
          <th class="text-center">Credit</th>
        </tr>
      </thead>
		  {% for a in data %}
      <tbody>
        <tr class="border-0" >
            <td>{{ a.account_code }} </td>
            <td>{{ a.account_name }} </td>
            <td id="debit" >{{ a.debit|floatformat:2|default_if_none:"" }}</td>
            <td class = "credit">{{ a.credit|floatformat:2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class = "table-secondary">
        <tr>
          <th colspan="2">Total </th>
          <th id ="sum_debit"> {{ sum_debit.debit__sum |floatformat:2}} </th>
          <th id ="sum_credit"> {{ sum_credit.credit__sum |floatformat:2}} </th>
        </tr>
      </tfoot>
  </div>
  </table>
</form>
<p>
  <div class="mt-4 text-center">
    <a href="{% url 'ReclassSummary' %}" class="btn btn-secondary">Back</a>
  </div>
</p>


<script>
  $(document).read(function ()
  {
    var a;
    var sum_debit = 0;
    $('td:nth-child(3)').each(function() 
    {
      a = $(this).html();
      sum_debit += parseInt(a);
      $('#sum_debit').text(sum_debit);
    });
  });​​​​​​​​​  
</script>

<script>
  const $debit = $('.credit');
  $debit.on("change blur input", function() {
    let sum_debit = 0
    $debit.each(function() {
      m = Number(this.value);
      if (!isNaN(m)) {
        sum_debit += m;
      }
    });
    $("#sum_credit").text(sum_debit);
  });
</script>

{% endblock %}
