{% extends 'main_userpage.html' %}
{% load crispy_forms_tags %}

{% block content%}
  <style>
    form {
        max-width: 450px;
        margin: auto;
    }
  </style>

  <body>
    <div class="container">
    <br>
    <h3 align="center">Register</h3>
    <br>
      <form method="post" >
      {% csrf_token %}
      <div class="col-md-12 "> 
        <!-- <p>{{form | crispy}}</p> -->
        {{ form.first_name|as_crispy_field }}
        {{ form.last_name|as_crispy_field }}
        {{ form.company_code|as_crispy_field }}
        {{ form.username|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}

        <p class="text-center">
          <input type="submit" class="btn btn-primary" value="Register">
        </p>
      </form>
</div>
</body>
{% endblock %}