{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block header %}
<h5 class="d-block p-3 bg-dark text-white">Profit & Loss Statement</h5>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %} 
    <style>
        td {
        border: 1px solid #bbb;
        padding: 2px 8px 0;
        font-size: 14px;
        text-align: right;
        }
        thead > tr > th {
        background-color: #b9e4e6;
        font-size: 14px;
        border-bottom: 2px solid #999;
        }
        /* style ของ row */
            /* tbody>:nth-child(2){
            color:red; 
            font-weight: bold;
            } */
        /* style ของ column */
        tbody>tr>:nth-child(1){text-align:left;}
        tbody>tr>:nth-child(2){text-align:left;}
        tbody>tr>:nth-child(3){text-align:left;}
        tbody>tr>:nth-child(4){text-align:left;}
        /* style ของ row */
        tbody>:last-child{font-weight: bold; background-color: #d7dedf;}
    </style>
    <script>
        $(function () {
            $("#exporttable").click(function (e) {
                var table = $("#Consotable");
                if (table && table.length) {
                    $(table).table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name",
                        filename: "FS_ConsoPL_" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                        fileext: ".xls",
                        exclude_img: true,
                        exclude_links: true,
                        exclude_inputs: true,
                        preserveColors: true
                    });
                }
            });
        });
    </script>

<form method="post" class="m-auto" >
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    <div class="container ">
        <div class="form-row center">
            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-4 ">
                {{ form.PeriodsFilter|as_crispy_field }}
            </div>
            <div class="form-group  col-md-7 m-auto">
            <button class="btn btn-info">Run data</button>
            <button id= "exporttable" class="btn btn-info">Export</button>
            </div>
            <!-- <a href="{% url 'Report_pl' %}">Export all users</a> -->
        </div> 
    </div>
</form>
<form method="post" class="m-auto" >
    {% csrf_token %}
    <div class="container">
        <div id="Consotable" class="table table-sm">
            <div class="col-md-12 "> 
                {{ final_result|safe  }}
            </div>
        </div>          
    </div>  
</form>
   

        <!-- {{ result|safe  }} -->
        <!-- <div class="container ">
            <div class="table table-sm col-md-12 ">
                {{ final_pivot2|safe  }}
                {% for a in final_pivot.iterrows %}
                <div class="border-0"> 
                {{ a.account_type }}
                </div>  
                {% endfor %}
            </div> 
        </div>   -->


{% endblock %}